# Dependencies
dashboard/node_modules/
__pycache__/
*.pyc
backend/**/__pycache__/
backend/**/*.pyc
*.pyo

# Build
dashboard/.nuxt/
dashboard/.output/
dashboard/dist/

# IDE
.vscode/
.idea/

# Env
.env
backend/.env

# OS
.DS_Store
Thumbs.db

# Django
backend/static/
backend/media/
media/
*.sqlite3

# Lock
pnpm-lock.yaml
nul
